body {
  font-family: sans-serif;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  color: white;
  background-attachment: fixed;

}

img {
  border-radius: 50%;
  width: 200px;
}

.video {
  background-color: transparent;
  color: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  width: 70%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  width: 70%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.paragraph {
  color: white;
  border-radius: 50px;
  width: 70%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid white;
  color: black;
}

.main { 
  background-position: center center;
  background-size: cover;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}
